<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="ls">
      <div class="persona-data">
        <div class="image">
          <img
            src="https://api.multiavatar.com/swarup.svg"
            height="200px"
            alt=""
            srcset=""
          />
        </div>
        <div class="persona-subs">
          <h2>Swarup Vishwas</h2>
          <h3>Academic</h3>
        </div>
      </div>
      <div class="persona-stats">
        <h2>Know About Me</h2>
        <h3>Age : 22</h3>
        <h3>Location : Pune, India</h3>
        <h3>Education : VIT, Pune</h3>
        <div class="languages">
          <h2>Languages Know</h2>
          <div class="lang-img"><img src="" alt="" /></div>
        </div>
      </div>
    </div>
    <div class="rs">
      <div class="persona-summary">
        <h2>Persona Summary</h2>
        <div class="summary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          maxime a qui. Dolorem fuga aperiam, perferendis culpa doloremque non
          facere aut sint illo, corrupti magnam dicta quibusdam recusandae!
          Natus explicabo, rerum vel in alias, et sit at exercitationem atque
          ipsam odio, hic quisquam perspiciatis ipsa maiores mollitia amet iusto
          nihil ipsum! Ex nisi necessitatibus iusto velit placeat eius fuga
          officiis voluptatibus quaerat, voluptatem accusamus omnis doloremque
          aperiam quos quibusdam harum doloribus delectus numquam eligendi eum
          inventore sapiente? Ullam voluptatibus sunt, debitis, impedit beatae
          nemo iste tempora sed nam ut praesentium libero veritatis fugit id
          quisquam totam labore. Et, quas consequuntur!
        </div>
      </div>
      <div class="posts">
        <div class="posts-arena">
          <h2>Linked In Post</h2>
          <div class="post-list">
            <div class="post">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
              officia nobis, iure ex commodi incidunt fugiat asperiores numquam
              accusantium tenetur dolores laudantium amet, nam eius explicabo
              quam odit hic sed.
            </div>
            <div class="post">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
              officia nobis, iure ex commodi incidunt fugiat asperiores numquam
              accusantium tenetur dolores laudantium amet, nam eius explicabo
              quam odit hic sed.
            </div>
            <div class="post">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
              officia nobis, iure ex commodi incidunt fugiat asperiores numquam
              accusantium tenetur dolores laudantium amet, nam eius explicabo
              quam odit hic sed.
            </div>
            <div class="post">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
              officia nobis, iure ex commodi incidunt fugiat asperiores numquam
              accusantium tenetur dolores laudantium amet, nam eius explicabo
              quam odit hic sed.
            </div>
          </div>
        </div>
        <div class="posts-arena github-posts">
          <h2>Github Post</h2>
          <div class="post-list">
            <div class="post">Lorem ipsum dolor</div>
            <div class="post">Lorem ipsum dolor</div>
            <div class="post">Lorem ipsum dolor</div>
            <div class="post">Lorem ipsum dolor</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
